*{
  box-sizing: border-box;
}

header{
  /* position: fixed; */
  z-index: 1000;
  width: 100%;
  background-color: darkgreen;
}

nav{
  display: flex;
  align-items: center;
  padding: 10px 30px 10px 10px;
  justify-content: space-between;
}

.nav-brand{
  width: 80%;
  text-overflow: ellipsis;
}

.nav-brand a{
  color: white;
}

.nav-menu .menu-item{
  display: none;
  list-style: none;
}

.menu-item a{
  color: white !important;
  text-decoration: none;
  font-size: 15pxpx;
}

.nav-menu .icon{
  display: block;
  float: right;
  color: white;
  font-size: 25px;
  list-style: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 10px;
}

.nav-menu.responsive{
  position: absolute;
  width: 100%;
  display: block;
  background-color: darkgreen;
  top: 0;
  left: 0;
  z-index: 50;
}

/* .nav-menu.responsive .icon{
  display: none;
} */

.nav-menu.responsive ul{
  padding: 0;
  margin-bottom: 0;
}


.nav-menu.responsive .menu-item{
  display: block;
  float: none;
  text-align: left;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.nav-menu.responsive .menu-item a{
  display: block;
  padding: 10px;
}

.nav-menu.responsive .menu-item a:hover{
  background-color: green;
}

.nav-menu.responsive .menu-item.active a{
  background-color: green;
}

section{
  padding: 180px 0;
  /* margin: 150px 0 0 0; */
}

section > h3.text-center{
  margin: 30px 0;
  font-weight:bold;
  font-size:20px;
}

#image-gallery .col-md-3{
  padding: 3px;
  height: 250px;
}

#clockdiv{
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  padding-bottom: 50px;
  text-align: center;
}

#clockdiv > div{
  margin: 0 5px;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 5px;
}

.days, .hours, .minutes, .seconds{
  font-family: Roboto;
  font-size: 30px;
  font-weight: bold;
  color: gold;
}

.smalltext{
  font-size: 20px;
}

.mycard{
  width: 80%;
  border-radius: 10px;
  padding: 50px;
  border: 1px solid rgba(0,0,0,0.1);
  margin: 30px auto;
}

#team, #sponsors{
  padding-left: 30px;
  padding-right: 30px;
}

.chat{
  position: fixed;
  background-color: green;
  bottom: 0;
  padding: 10px 20px 10px 10px;
  margin: 10px;
  border-radius: 50%;
}

.multi-item-carousel .carousel-inner > .carousel-item {
  transition: 500ms ease-in-out left;
}
.multi-item-carousel .carousel-inner .active.left {
  left: -33%;
}
.multi-item-carousel .carousel-inner .active.right {
  left: 33%;
}
.multi-item-carousel .carousel-inner .next {
  left: 33%;
}
.multi-item-carousel .carousel-inner .prev {
  left: -33%;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .multi-item-carousel .carousel-inner > .carousel-item {
    transition: 500ms ease-in-out left;
    transition: 500ms ease-in-out all;
    -webkit-backface-visibility: visible;
            backface-visibility: visible;
    transform: none!important;
  }
}
.multi-item-carousel .carousel-control.left,
.multi-item-carousel .carousel-control.right {
  background-image: none;
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

.multi-item-carousel .carousel-item img{
  height:200px;
}

#team-carousel .card{
  width: 100%;
  margin: 0 auto;
}

footer a{
  color: white;
}

@media (min-width: 576px){  /*768px*/  
  .days, .hours, .minutes, .seconds{
    font-size: 60px;
  }
  #team-carousel .card{
    width: 500px;
  }

  .mycard{
    width: 500px;
  }
}

@media (min-width: 768px){  /*1024px*/ 
  .nav-menu .icon{
    display: none;
  }

  .nav-brand{
    width: 32%;
  }

  .nav-menu ul{   
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: revert;
  }

  .nav-menu .menu-item{
    display: block;
  }
  
  .nav-menu .menu-item a{    
    padding: 10px;
    font-size: 15px;
  }

  .nav-menu .menu-item a:hover{
    border-bottom: 1px solid red;
  }

  .nav-menu .menu-item.active a{
    border-bottom: 3px solid #832121;
    background-color: green;
  }
} 